<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="couchbaselite" type="Couchbase.Lite.Configuration.CouchbaseConfigurationHandler, Couchbase.Lite" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Kiolyn.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stateless" publicKeyToken="93038f0927583c9a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.61.0" newVersion="2.5.61.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Jint" publicKeyToken="2e92ba9c8d81157f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.1.0" newVersion="2.7.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ApiRootUrl" value="http://api.kiolyn.com" />
    <add key="SyncRootUrl" value="http://sync-gateway.kiolyn.com" />
    <add key="CdnRootUrl" value="http://cdn.kiolyn.com" />
    <add key="RegisterUrl" value="http://admin.kiolyn.com/#/register" />
    <add key="DatabaseName" value="kiolyn" />
    <add key="DatabaseLocation" value="Kiolyn\databases" />
    <add key="SkipPrinting" value="True" />
    <add key="CashierPrinter" value="Cashier" />
    <add key="UseLocalPaymentSetting" value="False" />
    <add key="PaymentHost" value="127.0.0.1" />
    <add key="PaymentPort" value="10009" />
    <add key="MainPort" value="25610" />
    <add key="MainName" value="q8ctuHjYpheAKBA3" />
    <add key="NoMain" value="False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${LOCALAPPDATA}\Kiolyn\logs\log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="chinh.nguyen@willbe.vn" />
      <from value="kiolyn@willbe.vn" />
      <subject value="[ERROR] Kiolyn POS Desktop" />
      <smtpHost value="smtp.orange.co.uk" />
      <bufferSize value="512" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger: %message%newline" />
      </layout>
    </appender>
  </log4net>
  <couchbaselite>
    <logging enabled="True">
      <domains>
        <All verbosity="Verbose" />
      </domains>
    </logging>
  </couchbaselite>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.net>
    <requestCaching defaultPolicyLevel="Default" />
  </system.net>
  <userSettings>
    <Kiolyn.Desktop.Properties.Settings>
      <setting name="LastStoreId" serializeAs="String">
        <value />
      </setting>
    </Kiolyn.Desktop.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>